@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks */
:root {
  --bg-color: #fcfaf8; /* background-light */
  --card-bg: #f3ede7;
  --primary: #ef8624;
  --text-dark: #1c140d;
  --accent-brown: #9b714b;
}

body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: var(--bg-color);
  color: var(--text-dark);
}

/* form placeholder color */
.form-input::placeholder {
  color: #a78b6b;
}
